@use '../../sass/modules/variables';
@use '../../sass/modules/utilities';

.section__two {
    
    @include utilities.mobileDefaultContent;

    margin-top: 8rem;
    
    .section__two__intro {

        .section__two__line {
            border-top: 1px solid variables.$grayish-blue;
            width: 35%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 1rem;
        }

        h2 {
                font-size: 2.5rem;
                line-height: 1;
                text-align: center;
                width: 15ch;
                margin: auto;
                font-family: variables.$dm-serif;
                font-weight: variables.$regular-font;
                color: variables.$very-dark-violet;
                margin-top: 1rem;
        }
    }

    .section__two__content {

        padding: 0 1rem;
        margin-top: 4rem;
        text-align: center;
        
        .section__two__content__block {

            img {
                width: 22%;
            }

            h3 {
                margin-top: 0.75rem;
                font-size: 1.25rem;
                font-family: variables.$dm-serif;
                font-weight: variables.$regular-font;
            }

            p {
                padding-bottom: 2.5rem;
                padding-top: 0.5rem;
                font-family: variables.$karla;
                font-size: 0.9rem;
                width: 34ch;
                margin: auto;
            }
        }
    }
}

// Desktop Styles Below

@media screen and (min-width: 30rem) {
    .section__two {

        @include utilities.mobileDefaultContent;
        margin-top: 19rem;

        .section__two__intro {
            position: relative;
            text-align: left;
            left: 0;
            padding-bottom: 7rem;
            z-index: 99;

            h2 {
                font-size: 3rem;
                margin-top: 2rem;
            }

            .section__two__line {
                width: 8.25%;
            }

            & > * {
                position: absolute;
                display: flex;
            }
        }

        .section__two__content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 3.25rem;
            padding: 0;
            margin-left: 0;
            
            .section__two__content__block {
                text-align: left;

                img {
                    padding-bottom: 0.5rem;
                }

                h3 {
                    font-size: 1.4rem;
                }

                p {
                    font-size: 1.02rem;
                    color: variables.$dark-grayish-violet;
                    margin: 0;
                }
            }
        }
    }
}

