@use '../../sass/modules/variables';
@use '../../sass/modules/utilities';

// Mobile First

.section__three {
    position: relative;
    margin: 2rem 12.25%;
    padding: 2rem;
    height: 17rem;
    background-color: variables.$dark-violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;

        @media screen and (max-width: 430px) {
            .box__waves--desktop {
                display: none;
            }
        }

        .box__waves--mobile {
            z-index: -10;
            height: 90%;
            width: 100%;
            object-fit: contain;
            position: absolute;
            top: 0;
            right: -26%;
            bottom: 0;
        }
    

    h3 {
        line-height: 1;
        font-size: 2rem;
        color: variables.$very-light-gray;
        font-family: variables.$dm-serif;
        font-weight: variables.$regular-font;
    }

    button {
        cursor: pointer;
        margin-top: 2rem;
        padding: 0.5rem 1rem;
        border: none;
        font-family: variables.$karla;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: variables.$very-light-gray;
        background: variables.$dark-violet;
        border: 2px solid variables.$very-light-gray;

        &:hover {
            background-color: variables.$very-light-gray;
            color: variables.$dark-violet;
        }

        &:active {
            transform: scale(0.97);
        }
    }
}

@media screen and (min-width: 30rem) {
    .section__three {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 4%;
        height: 15rem;

            .box__waves--mobile {
                display: none;
            }

            .box__waves--desktop {
                z-index: -10;
                height: 100%;
                width: 33%;
                object-fit: cover;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
            }

        h3 {
            font-size: 2.7rem;
            text-align: left;
            width: 39%;
            line-height: 1;
        }

        button {
            font-size: 0.9rem;
            margin: 0;
        }
    }

}