@use '../../sass/modules/variables';
@use '../../sass/modules/utilities';

// Mobile first

.header {
    padding: 0 6.2%;
    background: variables.$very-light-gray;
    width: 100%;
    height: variables.$header-height;

    @include utilities.breakpoint(md) {
        padding: 0 12.4%;
    }

    transition: 0.3s ease all;

    &__content {
        overflow: hidden;
        margin: 0 auto;
        max-width: 1920px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 100;
        color: variables.$light;

        &__logo {
            max-width: 100%;
        }

        &__nav {
            top: 0;
            right: 100%;
            bottom: 0;
            width: 100%;
            height: 100vh;
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: rgba(variables.$dark-violet, 0.75);
            backdrop-filter: blur(2px);
            transform: translate(0);
            transition: 0.3s ease transform;

            @include utilities.breakpoint(md) {
                transform: none;
                flex-direction: row;
                background: transparent;
                width: auto;
                height: 100%;
                position: static;
            }

            ul {
                display: flex;
                flex-direction: column;
                margin-bottom: variables.$spacing-lg;

                @include utilities.breakpoint(md) {
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 0;
                    margin-right: calc(0.5rem + #{variables.$spacing-md});
                }

                li {
                    &:not(:last-child) {
                        margin-bottom: variables.$spacing-lg;

                        @include utilities.breakpoint(md) {
                            margin-bottom: 0;
                            margin-right: variables.$spacing-md;
                        }
                    }

                    a {
                        color: variables.$very-light-gray;
                        padding: 0.5rem 1.25rem;
                        transition: 0.3s ease all;
                        opacity: 0.75;
                        font-family: variables.$karla;
                        text-transform: uppercase;
                        font-size: 0.9rem;

                        &:hover {
                            opacity: 1;
                        }

                        @include utilities.breakpoint(md) {
                            color: variables.$dark-violet;
                        }
                    }
                }
            }

            button {
                cursor: pointer;
                padding: 0.5rem 1rem;
                font-family: variables.$karla;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: variables.$dark-violet;
                background-color: variables.$very-light-gray;
                border: 2px solid variables.$dark-violet;
                font-weight: variables.$regular-font;
                font-size: 0.9rem;
                transition: 0.3s ease all;
        
                &:hover {
                    background-color: variables.$very-dark-violet;
                    color: variables.$very-light-gray;
                }
        
                &:active {
                    transform: scale(0.97);
                }
            }

            &.isMenu {
                transform: translate(100%);
            }
        }

        &__toggle {
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            transition: 0.3s ease all;
            position: relative;
            opacity: 0.85;
            color: variables.$dark-violet;

            &:hover {
                opacity: 1;
            }

            @include utilities.breakpoint(md) {
                display: none;
            }
        }
    }
}