// Typography

$dm-serif: 'DM Serif Display', serif;
$karla: 'Karla', sans-serif;

// --- COLOURS --- //

$dark: rgba(29, 29, 29);
$light: #fff;
$bg: rgba(244, 244, 255);

// Primary

$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);

// Neutral

$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

// Typography Font Weights

$regular-font: 400;
$bold-font: 700;

// Spacing

$spacing-md: 1rem;
$spacing-lg: 2rem;

// Header Height

$header-height: 5rem;
